<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/eindex.css">
    <script src="../js/vue.js"></script>
    <script src="../js/eindex.js"></script>
    <script src="../js/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <el-row style="width: 100%;">
            <h3 style="text-align: center;">游客管理</h3>
        </el-row>
        <el-row>
            <el-input v-model="search" placeholder="人员名字" style="display: inline-block;width: 150px;"></el-input>
            <el-button @click="search1()">搜索</el-button>
            <el-button style="margin-left: 1%;" @click="addDialogVisible = true">添加游客</el-button>
        </el-row>
        <el-row style="margin-top: 5px;">
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="cid" label="乘客ID" width="120">
                </el-table-column>
                <el-table-column prop="cname" label="姓名" width="120">
                </el-table-column>
                <el-table-column prop="bid" label="大巴ID" width="120">
                </el-table-column>
                <el-table-column prop="gid" label="导游ID" width="120">
                </el-table-column>
                <el-table-column prop="oid" label="旅行计划ID" width="120">
                </el-table-column>
                <el-table-column prop="schedule" label="出行时间" width="300">
                </el-table-column>
                <el-table-column prop="info" label="信息" width="150">
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button size="small" @click="edit(scope.row)">编辑</el-button>
                        <el-button size="small" @click="deleteById(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <el-dialog title="添加游客" :visible.sync="addDialogVisible" width="45%" :before-close="handleClose">
            <el-form label-position="top" label-width="80px">
                <el-form-item label="姓名">
                    <el-input v-model="subForm.name"></el-input>
                </el-form-item>
                <el-form-item label="大巴车号">
                    <el-input v-model="subForm.bid"></el-input>
                </el-form-item>
                <el-form-item label="导游编号">
                    <el-input v-model="subForm.gid"></el-input>
                </el-form-item>
                <el-form-item label="计划编号">
                    <el-input v-model="subForm.oid"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="closeAdd()">取 消</el-button>
                <el-button type="primary" @click="add()">确 定</el-button>
            </span>
        </el-dialog>
        <el-dialog title="编辑游客" :visible.sync="editDialogVisible" width="45%" :before-close="handleClose">
            <el-form label-position="top" label-width="80px">
                <el-form-item label="姓名">
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="大巴车号">
                    <el-input v-model="editForm.bid"></el-input>
                </el-form-item>
                <el-form-item label="导游编号">
                    <el-input v-model="editForm.gid"></el-input>
                </el-form-item>
                <el-form-item label="计划编号">
                    <el-input v-model="editForm.oid"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="closeEdit()">取 消</el-button>
                <el-button type="primary" @click="update()">确 定</el-button>
            </span>
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    tableData: [{
                        cid: '1',
                        cname: '孙小明',
                        bid: '辽C96111',
                        gid: '李小亮',
                        oid: '游玩',
                        schedule: "2023-06-16",
                        info: "从客厅到卧室"
                    }],
                    search: "",
                    addDialogVisible: false,
                    subForm: {
                        name: "",
                        bid: "",
                        gid: "",
                        oid: ""
                    },
                    editForm: {
                        id: "",
                        name: "",
                        bid: "",
                        gid: "",
                        oid: ""
                    }
                }
            }, created() {
                var that = this
                axios.get("../user/check").then(function (response) {
                    if (response.data.code != 200) {
                        window.location.href = "./login.html";
                    }
                }).catch(function (error) {
                    console.log(error);
                })

                axios.get("../customer/page?limit=10000&page=1").then(function (res) {
                    if (res.data.code == 200) {
                        that.tableData = res.data.dataWithInfo
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            }, methods: {
                search1() {
                    var that = this
                    axios.get("../customer/search?name=" + that.search).then(function (res) {
                        if (res.data.code == 200) {
                            that.tableData = res.data.data
                            that.search = ""
                        }
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                deleteById(one) {
                    var that = this
                    this.$confirm('此操作将永久删除本条记录?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post("../customer/delete", {
                            "cid": one.cid
                        }).then(function (res) {
                            if (res.data.code == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            }
                            axios.get("../customer/page?limit=10000&page=1").then(function (res) {
                                if (res.data.code == 200) {
                                    that.tableData = res.data.dataWithInfo
                                }
                            }).catch(function (error) {
                                console.log(error);
                            })
                        }).catch(function (error) {
                            console.log(error);
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                handleClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            this.subForm.name = ""
                            this.subForm.bid = ""
                            this.subForm.gid = ""
                            this.subForm.oid = ""
                            this.editForm.name = ""
                            this.editForm.bid = ""
                            this.editForm.gid = ""
                            this.editForm.oid = ""
                            done();
                        })
                        .catch(_ => { });
                },
                add() {
                    var that = this
                    axios.post("../customer/add", {
                        "bid": this.subForm.bid,
                        "cname": this.subForm.name,
                        "gid": this.subForm.gid,
                        "oid": this.subForm.oid
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            that.$message({
                                type: 'success',
                                message: '添加成功!'
                            });
                        } else if (res.data.code == 201) {
                            that.$message({
                                type: 'error',
                                message: '添加失败!'
                            });
                        } else if (res.data.code == 202) {
                            that.$message({
                                type: 'error',
                                message: '出行计划不存在!'
                            });
                        }
                        axios.get("../customer/page?limit=10000&page=1").then(function (res) {
                            if (res.data.code == 200) {
                                that.tableData = res.data.dataWithInfo
                                that.subForm.name = ""
                                that.subForm.bid = ""
                                that.subForm.gid = ""
                                that.subForm.oid = ""
                            }
                        }).catch(function (error) {
                            console.log(error);
                        })
                    }).catch(function (err) {
                        console.log(err)
                    })
                    this.addDialogVisible = false
                },
                closeAdd() {
                    this.addDialogVisible = false
                    this.subForm.name = ""
                    this.subForm.bid = ""
                    this.subForm.gid = ""
                    this.subForm.oid = ""
                }, closeEdit() {
                    this.editDialogVisible = false
                    this.editForm.name = ""
                    this.editForm.bid = ""
                    this.editForm.gid = ""
                    this.editForm.oid = ""
                },edit(row){
                    this.editDialogVisible = true
                    this.editForm.name = row.cname
                    this.editForm.bid = row.bid
                    this.editForm.gid = row.gid
                    this.editForm.oid = row.oid
                    this.editForm.id = row.cid
                },update(){
                    
                }
            }

        })
    </script>
</body>

</html>