<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/eindex.css">
    <script src="../js/vue.js"></script>
    <script src="../js/eindex.js"></script>
    <script src="../js/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <el-row style="width: 100%;">
            <h3 style="text-align: center;">出游管理</h3>
        </el-row>
        <el-row>
            <el-input v-model="search" placeholder="出游ID" style="display: inline-block;width: 150px;"></el-input>
            <el-button @click="search1()">搜索</el-button>
            <el-button style="margin-left: 1%;" @click="addDialogVisible=true">添加出行计划</el-button>
        </el-row>
        <el-row style="margin-top: 5px;">
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="oid" label="出游ID" width="120">
                </el-table-column>
                <el-table-column prop="bid" label="公交车ID" width="120">
                </el-table-column>
                <el-table-column prop="gid" label="导游ID" width="150">
                </el-table-column>
                <el-table-column prop="out1" label="出行时间" width="300">
                </el-table-column>
                <el-table-column prop="back" label="返回时间" width="300">
                </el-table-column>
                <el-table-column prop="massage" label="信息" width="150">
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button size="small" @click="up(scope.row)">编辑</el-button>
                        <el-button size="small" @click="del(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <el-dialog title="添加出行计划" :visible.sync="addDialogVisible" width="45%" :before-close="handleClose">
            <el-form label-position="top" label-width="80px">
                <el-form-item label="公交车ID">
                    <el-input v-model="subForm.bid"></el-input>
                </el-form-item>
                <el-form-item label="导游ID">
                    <el-input v-model="subForm.gid"></el-input>
                </el-form-item>
                <el-form-item label="出行时间">
                    <el-input type="datetime-local" v-model="subForm.out1"></el-input>
                </el-form-item>
                <el-form-item label="返回时间">
                    <el-input type="datetime-local" v-model="subForm.back"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="closeAdd()">取 消</el-button>
                <el-button type="primary" @click="add()">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog title="编辑大巴" :visible.sync="editDialogVisible" width="45%" :before-close="handleClose">
            <el-form label-position="top" label-width="80px">
                <el-form-item label="公交车ID">
                    <el-input v-model="editForm.bid"></el-input>
                </el-form-item>
                <el-form-item label="导游ID">
                    <el-input v-model="editForm.gid"></el-input>
                </el-form-item>
                <el-form-item label="出行时间">
                    <el-input type="datetime-local" v-model="editForm.out1"></el-input>
                </el-form-item>
                <el-form-item label="返回时间">
                    <el-input type="datetime-local" v-model="editForm.back"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="closeEdit()">取 消</el-button>
                <el-button type="primary" @click="update()">确 定</el-button>
            </span>
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    tableData: [{
                        oid: "",
                        bid: "",
                        gid: "",
                        out1: "",
                        back: "",
                        massage: ""
                    }],
                    search: "",
                    subForm: {
                        bid: "",
                        gid: "",
                        out1: "",
                        back: ""
                    }, editForm: {
                        oid: "",
                        bid: "",
                        gid: "",
                        out1: "",
                        back: ""
                    },
                    addDialogVisible: false,
                    editDialogVisible: false
                }
            }, created() {
                var that = this
                axios.get("../user/check").then(function (response) {
                    if (response.data.code != 200) {
                        window.location.href = "./login.html";
                    }
                }).catch(function (error) {
                    console.log(error);
                })

                axios.get("../out/all").then(function (res) {
                    console.log(res)
                    if (res.data.code == 200) {
                        that.tableData = res.data.msg
                    }
                }).catch(function (error) {
                    console.log(error);
                })

            }, methods: {
                del(row) {
                    var that = this
                    this.$confirm('此操作将永久删除本条记录?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post("../out/del", {
                            "oid": row.oid
                        }).then(function (res) {
                            if (res.data.code == 200) {
                                that.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            }
                            axios.get("../out/all").then(function (res) {
                                if (res.data.code == 200) {
                                    that.tableData = res.data.msg
                                }
                            }).catch(function (error) {
                                console.log(error);
                            })
                        }).catch(function (error) {
                            console.log(error);
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                add() {
                    console.log(this.subForm.gotime)
                    var that = this
                    axios.post("../out/add", {
                        "back": this.subForm.back,
                        "bid": this.subForm.bid,
                        "gid": this.subForm.gid,
                        "out1": this.subForm.out1
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            that.$message({
                                type: 'success',
                                message: '添加成功!'
                            });
                        } else if (res.data.code == 201) {
                            that.$message({
                                type: 'error',
                                message: '请先登录'
                            });
                        } else if (res.data.code == 400) {
                            that.$message({
                                type: 'error',
                                message: '添加失败!'
                            });
                        }
                        axios.get("../out/all").then(function (res) {
                            if (res.data.code == 200) {
                                that.tableData = res.data.msg
                            }
                        }).catch(function (error) {
                            console.log(error);
                        })
                        that.subForm.bid = ""
                        that.subForm.gid = ""
                        that.subForm.out1 = ""
                        that.subForm.back = ""
                    }).catch(function (err) {
                        console.log(err)
                    })
                    this.addDialogVisible = false
                },
                up(now) {
                    var that = this
                    this.editDialogVisible = true
                    this.editForm.oid = now.oid
                    this.editForm.bid = now.bid
                    this.editForm.gid = now.gid
                    this.editForm.out1 = now.out1
                    this.editForm.back = now.back
                }, search1() {
                    var that = this
                    axios.get("../out/selectById?id=" + this.search).then(function (res) {
                        if (res.data.code == 200) {
                            that.tableData = res.data.msg
                        }
                    }).catch(function (err) {
                        console.log(err)
                    })
                }, handleClose(done) {
                    var that = this
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            that.subForm.bid = ""
                            that.subForm.gid = ""
                            that.subForm.out1 = ""
                            that.subForm.back = ""
                            that.editForm.oid = ""
                            that.editForm.bid = ""
                            that.editForm.gid = ""
                            that.editForm.out1 = ""
                            that.editForm.back = ""
                            done();
                        })
                        .catch(_ => { });
                }, closeAdd() {
                    var that = this
                    this.addDialogVisible = false
                    that.subForm.bid = ""
                    that.subForm.gid = ""
                    that.subForm.out1 = ""
                    that.subForm.back = ""
                }, closeEdit() {
                    var that = this
                    this.editDialogVisible = false
                    that.editForm.oid = ""
                    that.editForm.bid = ""
                    that.editForm.gid = ""
                    that.editForm.out1 = ""
                    that.editForm.back = ""
                }, update() {
                    var that = this
                    axios.post("../out/up", {
                        "oid": this.editForm.oid,
                        "bid": this.editForm.bid,
                        "gid": this.editForm.gid,
                        "out1": this.editForm.out1,
                        "back": this.editForm.back
                    }).then(function (res) {
                        console.log(res)

                        that.$message({
                            type: 'success',
                            message: '修改成功!'
                        });

                        axios.get("../out/all").then(function (res) {
                            if (res.data.code == 200) {
                                that.tableData = res.data.msg
                            }
                        }).catch(function (error) {
                            console.log(error);
                        })
                        that.editForm.oid = ""
                        that.editForm.bid = ""
                        that.editForm.gid = ""
                        that.editForm.out1 = ""
                        that.editForm.back = ""
                    }).catch(function (err) {
                        console.log(err)
                    })
                    this.editDialogVisible = false
                }
            }
        })
    </script>
</body>

</html>